<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="group-row">
      <ion-item class="redondo-left bg-transparent">
        <ion-input max="59" min="0" type="number" class="text-center bg-transparent" placeholder="Hr"  [(ngModel)]="newMinutes" (keyup)="validateMaxLenghtHour(newMinutes)" value="25"></ion-input>
      </ion-item>
      <ion-item class="redondo-right bg-transparent">
        <ion-input max="59" min="0" type="number" class="text-center bg-transparent" placeholder="Min" [(ngModel)]="newSeconds" (keyup)="validateMaxLenghtSecond(newSeconds)" value="00"></ion-input>
      </ion-item>
    </div>

    <div id="start-counter" (click)="startCounter()">
      <h1 *ngIf="startClick == 1">
        {{contagem}}
      </h1>
    </div>
  </div>
</ion-content>
